In [39]:
### modify data, possibly full_bloom, and hit CTRL & Enter


import matplotlib.pyplot as plt
import pandas
import math
import numpy as np

#data = pandas.read_csv('C:/Users/Claudia/Downloads/example data daily values_cimis Parlier.csv')
#data = pandas.read_csv('C:/Users/Claudia/Downloads/Verona.csv')
data = pandas.read_csv('C:/Users/Claudia/Downloads/Durham2014.csv')

full_bloom='1/3/2014'

data['Date1']=pandas.to_datetime(data['Date'])
data['Min Air Temp (C)']=(data['Min Air Temp (F)']-32)/1.8
data['Max Air Temp (C)']=(data['Max Air Temp (F)']-32)/1.8


def gdd(Tmin, Tmax, F_or_C):
    
    if Tmin > Tmax:
        print ('Warning: Tmin > Tmax')
        
    if F_or_C == 'C':
        TL=5
        TU=35
    elif F_or_C =='F':
        TL=41
        TU=95
    
    # first case: temp curve above TU
    if Tmin >= TU:
        return TU - TL
    
    # second case: temp curve completely below TL
    elif Tmax <= TL:
        return 0
    
    # third case: curve below TU and possibly partly below TL
    elif Tmax <= TU:    
        return max(0, 2 / math.pi * ( Tmax - Tmin) + Tmin - TL)
    
    # third case: curve partly above TU
    elif Tmax > TU:

        theta2 = np.arcsin( ( TU-Tmin ) / ( Tmax - Tmin ) ) * 1 / math.pi
        
        area_all = 2 / math.pi * ( Tmax - Tmin ) + Tmin

        area_above_TU = (Tmax - Tmin) / math.pi*(np.cos(theta2) - np.cos(1 - theta2)) + Tmin*(1 - 2*theta2)
        
        return max(0, area_all - area_above_TU - TL)
    
def mygdd(row):
    return gdd(row['Min Air Temp (C)'],row['Max Air Temp (C)'], 'C')

def mygddF(row):
    return gdd(row['Min Air Temp (F)'],row['Max Air Temp (F)'], 'F')

data['gddcol_C']=data.apply(mygdd, axis=1)
data['gddcol_F']=data.apply(mygddF, axis=1)

data_from_Mar1st = data[data['Date1']>=full_bloom].copy()

data_from_Mar1st['gdd_sum_C']=data_from_Mar1st['gddcol_C'].cumsum(axis = 0)
data_from_Mar1st['gdd_sum_F']=data_from_Mar1st['gddcol_F'].cumsum(axis = 0)

print("")
print("These are the summed up gdd values 90 days after full bloom (if taken Celsius or Fahrenheit):")
display(data_from_Mar1st[['Date1', 'gdd_sum_C', 'gdd_sum_F']].head(90).tail(1))

These are the summed up gdd values 90 days after full bloom (if taken Celsius or Fahrenheit):

        Date1    gdd_sum_C   gdd_sum_F
89 2014-05-29  1078.193148  1825.69059

In [35]:


# In case you want to display the computed gdd values: Again, just CTRL & Enter !

display(data_from_Mar1st[['Date1', 'gddcol_C', 'gddcol_F']])

         Date1   gddcol_C   gddcol_F
0   2018-03-01   6.269327  11.284789
1   2018-03-02   2.143662   3.858592
2   2018-03-03   3.684821   6.632677
3   2018-03-04   4.498436   8.097184
4   2018-03-05   6.186386  11.135495
5   2018-03-06   7.611425  13.700565
6   2018-03-07   9.943193  17.897748
7   2018-03-08  10.589203  19.060565
8   2018-03-09  10.038968  18.070142
9   2018-03-10   7.270267  13.086480
10  2018-03-11  11.110643  19.999157
11  2018-03-12  11.999375  21.598875
12  2018-03-13   8.809860  15.857747
13  2018-03-14   6.749609  12.149297
14  2018-03-15   2.951174   5.312113
15  2018-03-16   6.300470  11.340846
16  2018-03-17   5.002817   9.005071
17  2018-03-18   5.075118   9.135213
18  2018-03-19   7.352896  13.235213
19  2018-03-20   7.027074  12.648733
20  2018-03-21  10.582786  19.049015
21  2018-03-22   9.538655  17.169579
22  2018-03-23   6.104383  10.987889
23  2018-03-24   5.967137  10.740846
24  2018-03-25   6.811268  12.260283
25  2018-03-26   8.665885  15.598593
26  2018-03-27  13.080909  23.545636
27  2018-03-28  14.389516  25.901129
28  2018-03-29  16.288421  29.319157
29  2018-03-30  15.060564  27.109016
..         ...        ...        ...
276 2018-12-02   4.377309   7.879156
277 2018-12-03   2.992958   5.387325
278 2018-12-04   3.839593   6.911268
279 2018-12-05   6.623475  11.922254
280 2018-12-06   7.008295  12.614931
281 2018-12-07   6.014242  10.825635
282 2018-12-08   6.741315  12.134368
283 2018-12-09   3.568389   6.423100
284 2018-12-10   7.881691  14.187043
285 2018-12-11   4.437872   7.988170
286 2018-12-12   7.124570  12.824227
287 2018-12-13   6.024101  10.843382
288 2018-12-14   4.700314   8.460565
289 2018-12-15   4.971675   8.949015
290 2018-12-16   5.496244   9.893240
291 2018-12-17   8.532551  15.358592
292 2018-12-18   8.482786  15.269015
293 2018-12-19   9.866511  17.759719
294 2018-12-20   3.981534   7.166761
295 2018-12-21   5.708608  10.275494
296 2018-12-22   3.053209   5.495776
297 2018-12-23   5.729421  10.312959
298 2018-12-24   5.157747   9.283944
299 2018-12-25   7.028483  12.651269
300 2018-12-26   5.286542   9.515776
301 2018-12-27   4.867137   8.760846
302 2018-12-28   4.750861   8.551551
303 2018-12-29   3.473240   6.251832
304 2018-12-30   3.276370   5.897466
305 2018-12-31   4.578404   8.241128

[306 rows x 3 columns]