In [1]:
### modify data, and possibly full_bloom, and hit CTRL & Enter

import matplotlib.pyplot as plt
import pandas
import math
import numpy as np

data = pandas.read_csv('C:/Users/Claudia/Downloads/example data daily values_cimis Parlier.csv')
#data = pandas.read_csv('C:/Users/Claudia/Downloads/Verona.csv')
#data = pandas.read_csv('C:/Users/Claudia/Downloads/Durham2014.csv')

full_bloom='1/3/2018'

data['Date1']=pandas.to_datetime(data['Date'])
data['Min Air Temp (C)']=(data['Min Air Temp (F)']-32)/1.8
data['Max Air Temp (C)']=(data['Max Air Temp (F)']-32)/1.8


def gdd(Tmin, Tmax, F_or_C):
    
    if Tmin > Tmax:
        print ('Warning: Tmin > Tmax')
        
    if F_or_C == 'C':
        TL=5
        TU=35
    elif F_or_C =='F':
        TL=41
        TU=95
    
    # first case: temp curve above TU
    if Tmin >= TU:
        return TU - TL
    
    # second case: temp curve completely below TL
    elif Tmax <= TL:
        return 0
    
    # third case: curve below TU and possibly partly below TL
    elif Tmax <= TU:    
        return max(0, 2 / math.pi * ( Tmax - Tmin) + Tmin - TL)
    
    # third case: curve partly above TU
    elif Tmax > TU:

        theta2 = np.arcsin( ( TU-Tmin ) / ( Tmax - Tmin ) ) * 1 / math.pi
        
        area_all = 2 / math.pi * ( Tmax - Tmin ) + Tmin

        area_above_TU = (Tmax - Tmin) / math.pi*(np.cos(theta2) - np.cos(1 - theta2)) + Tmin*(1 - 2*theta2)
        
        return max(0, area_all - area_above_TU - TL)
    
def mygdd(row):
    return gdd(row['Min Air Temp (C)'],row['Max Air Temp (C)'], 'C')

def mygddF(row):
    return gdd(row['Min Air Temp (F)'],row['Max Air Temp (F)'], 'F')

data['gddcol_C']=data.apply(mygdd, axis=1)
data['gddcol_F']=data.apply(mygddF, axis=1)

data_from_Mar1st = data[data['Date1']>=full_bloom].copy()

data_from_Mar1st['gdd_sum_C']=data_from_Mar1st['gddcol_C'].cumsum(axis = 0)
data_from_Mar1st['gdd_sum_F']=data_from_Mar1st['gddcol_F'].cumsum(axis = 0)

print("")
print("These are the summed up gdd values 90 days after full bloom (if taken Celsius or Fahrenheit):")
display(data_from_Mar1st[['Date1', 'gdd_sum_C', 'gdd_sum_F']].head(90).tail(1))

These are the summed up gdd values 90 days after full bloom (if taken Celsius or Fahrenheit):

        Date1   gdd_sum_C    gdd_sum_F
91 2018-04-02  666.135273  1199.043491

In [2]:


# In case you want to display the computed gdd values: Again, just CTRL & Enter !

display(data_from_Mar1st[['Date1', 'gddcol_C', 'gddcol_F']])

         Date1   gddcol_C   gddcol_F
2   2018-01-03   7.576683  13.638029
3   2018-01-04   9.683568  17.430423
4   2018-01-05   9.667293  17.401127
5   2018-01-06   7.063694  12.714649
6   2018-01-07   3.906573   7.031832
7   2018-01-08   5.728013  10.310423
8   2018-01-09   9.688420  17.439156
9   2018-01-10   6.381065  11.485916
10  2018-01-11   5.679187  10.222536
11  2018-01-12   8.189985  14.741973
12  2018-01-13   4.966980   8.940564
13  2018-01-14   2.143036   3.857465
14  2018-01-15   4.394992   7.910986
15  2018-01-16   8.355713  15.040283
16  2018-01-17   4.980908   8.965634
17  2018-01-18   6.697653  12.055775
18  2018-01-19   5.573396  10.032114
19  2018-01-20   4.543819   8.178875
20  2018-01-21   1.250235   2.250424
21  2018-01-22   3.854460   6.938029
22  2018-01-23   4.745228   8.541410
23  2018-01-24   3.688420   6.639156
24  2018-01-25   4.425978   7.966761
25  2018-01-26   2.123944   3.823100
26  2018-01-27   5.568545  10.023381
27  2018-01-28   6.443193  11.597748
28  2018-01-29   6.134273  11.041691
29  2018-01-30   8.009860  14.417748
30  2018-01-31   6.847732  12.325917
31  2018-02-01  10.817685  19.471833
..         ...        ...        ...
335 2018-12-02   3.109703   5.597466
336 2018-12-03   4.461190   8.030141
337 2018-12-04   6.239124  11.230423
338 2018-12-05   4.440532   7.992958
339 2018-12-06   6.124883  11.024790
340 2018-12-07   5.479031   9.862255
341 2018-12-08   6.787325  12.217185
342 2018-12-09   2.826135   5.087043
343 2018-12-10   8.012833  14.423100
344 2018-12-11   2.669797   4.805635
345 2018-12-12   6.417685  11.551832
346 2018-12-13   5.342098   9.615776
347 2018-12-14   4.831926   8.697466
348 2018-12-15   5.253521   9.456338
349 2018-12-16   6.435055  11.583099
350 2018-12-17   7.501565  13.502817
351 2018-12-18   7.729578  13.913240
352 2018-12-19   9.245384  16.641691
353 2018-12-20   6.505790  11.710423
354 2018-12-21   6.754774  12.158592
355 2018-12-22   2.966354   5.339437
356 2018-12-23   4.111894   7.401409
357 2018-12-24   4.379812   7.883662
358 2018-12-25   6.306574  11.351832
359 2018-12-26   3.664476   6.596057
360 2018-12-27   4.579813   8.243664
361 2018-12-28   4.674805   8.414649
362 2018-12-29   2.967606   5.341691
363 2018-12-30   2.857278   5.143100
364 2018-12-31   4.427074   7.968733

[363 rows x 3 columns]